@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif !important;
    @apply text-slate-900 antialiased bg-slate-50;
  }
}

@layer components {
  .soft-bg {
    @apply bg-slate-50/50 backdrop-blur-sm;
  }
}